*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    padding: 10px;
}

body{
    background: #f1f1f1;
}

/*------Header---*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header{
    background: #c6daf0;
}

h1{
    font-size: 25px;
    padding: 10px;
    color: black;
    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.overlay-content i {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#instructions-btn{
    display: block;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    color: rgb(238, 238, 238);
    background-color: black;
    border-radius: 15px;
    border: 5px solid #c6daf033; /* Semi-opaque border */


}

/*---Start Button----*/
#start-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #00d13f; /* Example background color */
    border-radius: 20px; /* Example border radius */
    font-size: 20px;
}

#start-game-btn{
    font-size: 40px;
    text-decoration: none;
    padding: 30px 50px;
    background-color: #ffffff00;
    color: rgb(3, 3, 3);
    border: none;
    cursor: pointer;
}